*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    background:#fff5f5;
    color:#4a0c0c;
    transition:.3s;
    
}

body.dark{
    background:#121212;
    color:#f5f5f5;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    padding:15px 40px;
    background:#b11226;
    color:white;
    position:sticky;
    top:0;
}

nav a, nav button{
    color:white;
    margin-left:15px;
    background:none;
    border:none;
    cursor:pointer;
}

/* HERO */
.hero{
    height:70vh;
    background:linear-gradient(rgba(211, 178, 178, 0.8),rgba(218, 119, 119, 0.8));
    display:flex;
    align-items:center;
    justify-content:center;
    color:black;
    text-align:center;
}

section{
    padding:60px;
    text-align:center;
}

.product-grid, .gallery-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.product-card{
    background:white;
    padding:15px;
    border-radius:12px;
}

body.dark .product-card{
    background:#1e1e1e;
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}

button{
    background:#b11226;
    color:white;
    padding:8px 15px;
    border:none;
    border-radius:5px;
}

footer{
    background:#b11226;
    color:white;
    padding:20px;
    text-align:center;
}
/* Hover Animation */
.info-box{
    transition: transform .4s ease, box-shadow .4s ease;
}

.info-box:hover{
    transform: translateY(-10px);
    box-shadow:0 25px 55px rgba(177,18,38,0.35);
}

.info-box img{
    transition: transform .5s ease;
}

.info-box:hover img{
    transform: scale(1.05);
}
/* INFO SECTIONS BOX STYLE */
.info-section{
    padding:70px 60px;
}

.info-box{
    max-width:1100px;
    margin:auto;
    display:flex;
    align-items:center;
    gap:40px;
    background:#fff;
    border-radius:18px;
    padding:40px;
    box-shadow:0 15px 40px rgba(177,18,38,0.2);
}

.info-box img{
    width:45%;
    height:280px;
    object-fit:cover;
    border-radius:15px;
}

.info-content{
    width:55%;
    text-align:left;
}

.info-content h2{
    color:#b11226;
    margin-bottom:15px;
}

.info-content p, 
.info-content li{
    font-size:16px;
    line-height:1.8;
}

.info-content ul{
    padding-left:18px;
}

/* reverse layout for middle section */
.info-box.reverse{
    flex-direction:row-reverse;
}

/* DARK MODE SUPPORT */
body.dark .info-box{
    background:#1e1e1e;
}

